@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

select option {
  background-color: #111;
  color: #fff;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.33%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

